@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.título, .subtítulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

*{
    font-family: "Joan", sans-serif;
}

section ul li p {
    font-weight: bolder;
}

.Procure {
    padding-left: 3rem;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    margin-right: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
}

nav ul li a:hover{
    color: #ff5ea2;
}

h1.título{
    margin-bottom: 5rem;
}

button{
    border: none;
    font-weight: bolder;
    background: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 0.5rem 0.5rem;
    transition: 1s;
}

button:hover{
    background: lightgreen;
}

.sobre{
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre img{
    width: 50%;
}

.sobre p{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    max-width: 60%;
    padding: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contatodiv, .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
    font-size: 20px;
}

.contatodiv {
    margin-bottom: 40px;
}

.img {
    padding: 30px;
}

.casas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.casas p {
    max-width: 350px;
    text-align: center;
}

.placeholders {
    margin: 8px;
}

.nome , .email {
    padding-right: 120px;
    font-size: 16px;
}

.mensagem { 
    font-size: 16px;
    padding-right: 120px;
    padding-bottom: 80px;
}

.footer {
    background-color: red;
}
